@import "_variable";
.app {
  section {
    width: 100%;
    padding-bottom: 127px;
  }
  p {
    // ext-center font-normal text-[25px] leading-[43px] w-4/5 m-auto mb-[72px]
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    line-height: 43px;
  }
}
